In [22]:
import numpy as np
import pandas as pd

In [23]:
df = pd.read_csv("titanic.csv",usecols = ['Cabin'])

In [24]:
df.head()

  Cabin
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

In [25]:
df['Cabin'] = df['Cabin'].fillna('B45')

In [26]:
df['Cabin'].unique()

array(['B45', 'E31', 'B57 B59 B63 B66', 'B36', 'A21', 'C78', 'D34', 'D19',
       'A9', 'D15', 'C31', 'C23 C25 C27', 'F G63', 'B61', 'C53', 'D43',
       'C130', 'C132', 'C101', 'C55 C57', 'B71', 'C46', 'C116', 'F',
       'A29', 'G6', 'C6', 'C28', 'C51', 'E46', 'C54', 'C97', 'D22', 'B10',
       'F4', 'E45', 'E52', 'D30', 'B58 B60', 'E34', 'C62 C64', 'A11',
       'B11', 'C80', 'F33', 'C85', 'D37', 'C86', 'D21', 'C89', 'F E46',
       'A34', 'D', 'B26', 'C22 C26', 'B69', 'C32', 'B78', 'F E57', 'F2',
       'A18', 'C106', 'B51 B53 B55', 'D10 D12', 'E60', 'E50', 'E39 E41',
       'B52 B54 B56', 'C39', 'B24', 'D28', 'B41', 'C7', 'D40', 'D38',
       'C105'], dtype=object)

In [28]:
df['cabin_Numerical'] = df['Cabin'].str.extract('(\d+)') # capture only numerical 
df['cabin_cate'] = df['Cabin'].astype(str).str[0]  # capture only categorical

In [29]:
df.head()

  Cabin cabin_Numerical cabin_cate
0   B45              45          B
1   B45              45          B
2   B45              45          B
3   B45              45          B
4   B45              45          B