In [43]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
df = pd.read_csv("E:\\Feature engineering\\Datasets\\titanic.csv",usecols = ['Age','Survived','Fare','Cabin'])

In [45]:
df.head()

   Survived   Age     Fare Cabin
0         0  34.5   7.8292   NaN
1         1  47.0   7.0000   NaN
2         0  62.0   9.6875   NaN
3         0  27.0   8.6625   NaN
4         1  22.0  12.2875   NaN

In [46]:
df['Cabin_single'] = df['Cabin'].astype(str).str[0]

In [47]:
df.head()

   Survived   Age     Fare Cabin Cabin_single
0         0  34.5   7.8292   NaN            n
1         1  47.0   7.0000   NaN            n
2         0  62.0   9.6875   NaN            n
3         0  27.0   8.6625   NaN            n
4         1  22.0  12.2875   NaN            n

In [48]:
len(df['Cabin'].unique())

77

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train,X_test,y_train,y_test = train_test_split(df[['Cabin','Fare','Cabin_single']],df['Survived'],test_size=0.3,random_state=42)

In [51]:
X_train.shape

(292, 3)

In [52]:
len(X_train['Cabin'].unique())

59

In [53]:
len(X_test['Cabin'].unique())

23

In [54]:
### checking only for the cabin column in traning part

In [55]:
cabin_train = [i for i in X_train['Cabin'].unique() if i not in X_test['Cabin'].unique()]
print(len(cabin_train))

55

In [56]:
cabin_test = [i for i in X_test['Cabin'].unique() if i not in X_train['Cabin'].unique()]
print(len(cabin_test))

19

In [57]:
## checking cabin single column

In [58]:
X_train.columns

Index(['Cabin', 'Fare', 'Cabin_single'], dtype='object')

In [59]:
cabin_single_train = [i for i in X_train['Cabin_single'].unique() if i not in X_test['Cabin_single'].unique()]
print(len(cabin_single_train))

1

In [60]:
cabin_single_test = [i for i in X_test['Cabin_single'].unique() if i not in X_train['Cabin_single'].unique()]
print(len(cabin_single_test))

0