In [26]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [27]:
df = pd.read_csv("E:\\Feature engineering\\Datasets\\titanic.csv")

In [28]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [29]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [30]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [31]:
df = df.drop(['PassengerId','Name'],axis = 1)

In [32]:
df['Cabin'].unique()

array([nan, 'B45', 'E31', 'B57 B59 B63 B66', 'B36', 'A21', 'C78', 'D34',
       'D19', 'A9', 'D15', 'C31', 'C23 C25 C27', 'F G63', 'B61', 'C53',
       'D43', 'C130', 'C132', 'C101', 'C55 C57', 'B71', 'C46', 'C116',
       'F', 'A29', 'G6', 'C6', 'C28', 'C51', 'E46', 'C54', 'C97', 'D22',
       'B10', 'F4', 'E45', 'E52', 'D30', 'B58 B60', 'E34', 'C62 C64',
       'A11', 'B11', 'C80', 'F33', 'C85', 'D37', 'C86', 'D21', 'C89',
       'F E46', 'A34', 'D', 'B26', 'C22 C26', 'B69', 'C32', 'B78',
       'F E57', 'F2', 'A18', 'C106', 'B51 B53 B55', 'D10 D12', 'E60',
       'E50', 'E39 E41', 'B52 B54 B56', 'C39', 'B24', 'D28', 'B41', 'C7',
       'D40', 'D38', 'C105'], dtype=object)

In [33]:
df['Cabin_single'] = df['Cabin'].astype(str).str[0]

In [35]:
df[['Cabin','Cabin_single']].head()

  Cabin Cabin_single
0   NaN            n
1   NaN            n
2   NaN            n
3   NaN            n
4   NaN            n

In [40]:
print("Number of unique values in normal cabin varible = {} ".format(len(df['Cabin'].unique())))
print("Number of unique values in single cabin varible = {} ".format(len(df['Cabin_single'].unique())))

Number of unique values in normal cabin varible = 77
Number of unique values in single cabin varible = 8

In [42]:
len(df['Embarked'].unique())

3

In [43]:
from sklearn.model_selection import train_test_split

In [44]:
use_cols = ['Cabin','Cabin_single','Embarked','Sex']

In [45]:
X_train , X_test , y_train , y_test = train_test_split(df[use_cols] , df['Survived'], test_size = 0.33 , random_state = 42)

- checking cardinality in different ways , cardinality will work only for categorical data

In [46]:
len(df['Cabin'].unique())

77

### checking in training part

In [47]:
len(X_train['Cabin'].unique())

56

In [48]:
train_cabin = [i for i in X_train['Cabin'].unique() if i not in X_test['Cabin'].unique()]
len(train_cabin)

49

49 unique labels present only in training data they are not in test data list

#### checking in test part

In [49]:
test_cabin = [j for j in X_test['Cabin'].unique() if j not in X_train['Cabin'].unique()]
len(test_cabin)

22

22 labels where present only in test data but they are not present in training data this leads to overfitting problem , so How to overcome this problem ?

### checking with replaced cabin single value

In [50]:
X_train.head()

    Cabin Cabin_single Embarked     Sex
109     F            F        S    male
176   NaN            n        S  female
366   NaN            n        C    male
407   C80            C        C    male
280   NaN            n        S  female

In [65]:
train_single_cabin = [k for k in X_train['Cabin_single'].unique() if k not in X_test['Cabin_single'].unique()]
print(train_single_cabin)
#print(len(train_single_cabin))

['G']

In [53]:
X_train['Cabin_single'].unique()

array(['F', 'n', 'C', 'A', 'E', 'B', 'D', 'G'], dtype=object)

### checking for test

In [67]:
test_single_cabin = [k1 for k1 in X_test['Cabin_single'].unique() if k1 not in X_train['Cabin_single'].unique()]
#len(train_single_cabin)
print(test_single_cabin)

[]

In [54]:
X_test['Cabin_single'].unique()

array(['F', 'n', 'D', 'C', 'E', 'A', 'B'], dtype=object)

### comparing with values

In [69]:
cabin_dict_values = {j : i for i , j in enumerate(X_train['Cabin'].unique() , 0)}

In [70]:
cabin_dict_values

{'F': 0,
 nan: 1,
 'C80': 2,
 'C130': 3,
 'A11': 4,
 'E52': 5,
 'B41': 6,
 'C101': 7,
 'C116': 8,
 'B61': 9,
 'D22': 10,
 'C54': 11,
 'C55 C57': 12,
 'B58 B60': 13,
 'B71': 14,
 'C23 C25 C27': 15,
 'C46': 16,
 'C53': 17,
 'C28': 18,
 'C62 C64': 19,
 'D30': 20,
 'C86': 21,
 'E46': 22,
 'F2': 23,
 'C85': 24,
 'A29': 25,
 'E45': 26,
 'B26': 27,
 'G6': 28,
 'C31': 29,
 'D10 D12': 30,
 'D19': 31,
 'E34': 32,
 'B45': 33,
 'A21': 34,
 'B57 B59 B63 B66': 35,
 'C32': 36,
 'F4': 37,
 'D34': 38,
 'A34': 39,
 'B11': 40,
 'D38': 41,
 'F E46': 42,
 'E60': 43,
 'E31': 44,
 'C97': 45,
 'D37': 46,
 'C78': 47,
 'B10': 48,
 'C22 C26': 49,
 'D15': 50,
 'C89': 51,
 'B51 B53 B55': 52,
 'B69': 53,
 'B52 B54 B56': 54,
 'C6': 55}

In [71]:
X_train.columns

Index(['Cabin', 'Cabin_single', 'Embarked', 'Sex'], dtype='object')

In [72]:
X_test.columns

Index(['Cabin', 'Cabin_single', 'Embarked', 'Sex'], dtype='object')

In [74]:
X_train.loc[: , 'Cabin_dict'] = X_train.loc[: , 'Cabin'].map(cabin_dict_values)
X_test.loc[: , 'Cabin_dict'] = X_test.loc[: , 'Cabin'].map(cabin_dict_values)

In [75]:
X_train.columns

Index(['Cabin', 'Cabin_single', 'Embarked', 'Sex', 'Cabin_dict'], dtype='object')

In [78]:
X_train[['Cabin','Cabin_dict']]

    Cabin  Cabin_dict
109     F           0
176   NaN           1
366   NaN           1
407   C80           2
280   NaN           1
..    ...         ...
71    NaN           1
106   NaN           1
270    C6          55
348   NaN           1
102   NaN           1

[280 rows x 2 columns]

In [79]:
X_test[['Cabin','Cabin_dict']]

       Cabin  Cabin_dict
321    F E57         NaN
324      NaN         1.0
388      NaN         1.0
56       NaN         1.0
153      NaN         1.0
..       ...         ...
371  E39 E41         NaN
399      NaN         1.0
272      C89        51.0
400       C7         NaN
380      NaN         1.0

[138 rows x 2 columns]

### with single cabin values

In [87]:
cabin_dict_values1 = {j : i for i , j in enumerate(X_train['Cabin_single'].unique() , 0)}

In [88]:
cabin_dict_values1

{'F': 0, 'n': 1, 'C': 2, 'A': 3, 'E': 4, 'B': 5, 'D': 6, 'G': 7}

In [91]:
X_train.loc[: , 'Cabin_dict_single'] = X_train.loc[: , 'Cabin_single'].map(cabin_dict_values1)
X_test.loc[: , 'Cabin_dict_single'] = X_test.loc[: , 'Cabin_single'].map(cabin_dict_values1)

In [92]:
X_train.columns

Index(['Cabin', 'Cabin_single', 'Embarked', 'Sex', 'Cabin_dict',
       'Cabin_dict_single'],
      dtype='object')

In [94]:
X_train[['Cabin','Cabin_dict_single']]

    Cabin  Cabin_dict_single
109     F                  0
176   NaN                  1
366   NaN                  1
407   C80                  2
280   NaN                  1
..    ...                ...
71    NaN                  1
106   NaN                  1
270    C6                  2
348   NaN                  1
102   NaN                  1

[280 rows x 2 columns]

In [95]:
X_train.isnull().sum()

Cabin                217
Cabin_single           0
Embarked               0
Sex                    0
Cabin_dict             0
Cabin_dict_single      0
dtype: int64

In [96]:
X_test.isnull().sum()

Cabin                110
Cabin_single           0
Embarked               0
Sex                    0
Cabin_dict            21
Cabin_dict_single      0
dtype: int64